{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "lacussoft",
    "lacussoft/typescript"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "camelcase": ["error", {
      "allow": [
        "src_ext",
        "bin_ext",
        "comp_script",
        "exec_script",
        "comp_time",
        "exec_time",
        "exit_code"
      ]
    }],
    "no-console": "off",
    "no-magic-numbers": "off"
  }
}
